// @import "bourbon";
$link-color: #577FCB;


body {
	background-color: blue;
	// background: shade(blue, 60%);

    margin: 0;
    padding: 0;
}

// body .main-container {

//     margin: 0 auto;
// }