{% load static from staticfiles %}

<html>
    <head>
        <title>Websites</title>

        <link rel="stylesheet" type="text/css" href="{% static "css/photo.css" %}">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
    </head>
    <body>
    	{# https://dribbble.com/shots/1757954-End-of-an-era #}
        <h1>Contact Me</h1>
        <div class="main-container">
        	<p>blue</p>
        		<div class="shift-container">
        	</div>
        		</div>

    </body>
</html>